
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/admin/adminhome.css">
 
  <title>Document</title> 
</head>

<body>
    <nav class="navbar">
        <div class="navbar-container container">
            <input type="checkbox" name="" id="" />
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <ul class="menu-items">
                <li><a href="/admin/dashboard">Dashboard</a></li>
                <li><a href="/admin/category">Categories</a></li>
                <li><a href="/admin/product">Products</a></li>
                <li><a href="/admin/user">Users</a></li>
                <li><a href="/admin/coupon">Coupons</a></li>
                <li><a href="/admin/order">Orders</a></li>
                <li><a href="/admin/salesReport">Sales Report</a></li>
                <li><a href="/admin/logout">Logout</a></li>
            </ul>
            <h1 class="logo">Perfumio</h1>
        </div>
    </nav>
    <section style="padding-top: 5rem;">
    <div class="container">
      <div class="row">
        <div class="col-md-4 pt-4">
          <div style="padding: 10px; box-shadow:0px 0px 10px 0px rgb(34, 33, 33);width:max-content  ">
            <h4 style="font-family: cursive; font-weight: bold;">
              <img style="width: 80px; height: 80px;" class="img-fluid"
                src="https://www.shutterstock.com/image-illustration/graph-sales-arrow-3d-illustration-260nw-274638584.jpg"
                alt="">
              Total Revenue
            </h4>
            <h2><i style="font-size: 25px; position: relative; top: -3px;"
                class="bi bi-currency-rupee"></i>{{totalOrder}}
            </h2>
          </div>
        </div>
        <div class="col-md-4 pt-4">
          <div style="padding: 10px; box-shadow:0px 0px 10px 0px rgb(34, 33, 33);width:max-content  ">
            <h4 style="font-family: cursive; font-weight: bold;">
              <img style="width: 80px; height: 80px;" class="img-fluid"
                src="https://woocommerce.com/wp-content/uploads/2020/03/woocommerce-reports-1.png?w=950" alt="">
              Total Orders
            </h4>
            <h2><i style="font-size: 25px; position: relative; top: -3px;"
                class="bi bi-currency-rupee"></i>{{orderCount}}</h2>
          </div>
        </div>
        <div class="col-md-4 pt-4">
          <div style="padding: 10px; box-shadow:0px 0px 10px 0px rgb(34, 33, 33);width:max-content  ">
            <h4 style="font-family: cursive; font-weight: bold;">
              <img style="width: 80px; height: 80px;" class="img-fluid"
                src="https://www.brides.com/thmb/SdzS2_uVP0_wp0rDu2S003xFFtk=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/__opt__aboutcom__coeus__resources__content_migration__brides__proteus__5b845ee6d83eb614e2366a65__11-3d487af5ba534727a565f6b6d3d5e503.jpeg"
                alt="">
              Total Products
            </h4>
            <h2><i style="font-size: 25px; position: relative; top: -3px;" class="bi bi-currency-rupee"></i>{{totalpro}}
            </h2>
          </div>
        </div>
      </div>
    </div>
    </section>
<div class="row">

<div id="chart" style="margin-right:150px;">
 <h3 style="padding: 12px;font-weight: bold; color: darkblue;">Total Revenue</h3>
  
</div>

<div class="charts-section mt-3">
<div id="piechart" class="col-4 d-flex flex-column mt-1" style="margin-right:150px;" >


   <h3  style="padding: 7px;font-weight: bold; color: darkblue;">Payment Method </h3>
</div>
</div>

<div class="charts-section mt-3">
{{!-- <div id="piechart" class="col-4 d-flex flex-column mt-1" >

   <h3  style="padding: 7px;font-weight: bold; color: darkblue;">Payment Method </h3>
</div> --}}
</div>
  <script>

     


    var options = {
          series: [
        {
          name: 'Revenue',
          data: [{{monthlyRevenue}}]
        },
         
        ],
          chart: {
          type: 'bar',
          height: 350,
          width:600
        },
        plotOptions: {
          bar: {
            horizontal: false,
            columnWidth: '55%',
            endingShape: 'rounded'
          },
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          show: true,
          width: 2,
          colors: ['transparent']
        },
        xaxis: {
          categories: ['Jan','Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct','Nov','Dec'],
        },
        yaxis: {
          title: {
            text: '₹: Thousands'
          }
        },
        fill: {
          opacity: 1
        },
        tooltip: {
          y: {
            formatter: function (val) {
              return "₹ " + val + " thousands"
            }
          }
        }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();

        var options = {
          series: [44, 55, 13, 43, 22],
          chart: {
          width: 380,
          type: 'pie',
        },
        labels: ['Team A', 'Team B', 'Team C', 'Team D', 'Team E'],
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              width: 200
            },
            legend: {
              position: 'bottom'
            }
          }
        }]
        };

        var piechart = new ApexCharts(document.querySelector("#piechart"), options);
        piechart.render();
  </script>

  </body>  

</html>

