<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/user/userHome.css" />
    
    <title>Document</title>
</head>

<body>
    <script src="https://kit.fontawesome.com/3b1ca000cb.js"></script>

    <header>
        <nav>
            <div class="logo " style="width: 100%; color: rgb(252, 252, 252);padding-top: 35px;">
               <a href="/"><h1>Perfumio</h1></a> 
            </div>
           <form action="/search" method="post">
                <div class="search__bar__header mt-4">
                    <input type="text" placeholder="Search" name="name"
                        style="border-bottom-left-radius: 20px;border-top-left-radius: 20px;height: 25px;">
                    <button style="border-bottom-right-radius: 20px;border-top-right-radius: 20px;height: 27px;background-color: aliceblue;width: 2rem;" type="submit"><img style="width: 1rem;height: 1rem;" src="/images/search-30.png"
                            
                            alt=""></button>
                </div>
            </form>
            <div class="cart__header__desktop " style="color: white;">
                <a href="/wishlist" style="text-decoration: none;"><img src="/images/icons8-heart-32.png" alt=""></a>
                <a onclick="cart" href="/cart"><img src="/images/icons8-shopping-cart-64.png"
                        style="width: 2rem;height: 2rem;margin-left: 3rem;" alt=""></a>
                {{!-- <span>50</span> --}}

        </nav>

        <div class="main__navigations pt-2">
            <div class="main__navigations__div">
                <ul class="main__navigations__div__ul">
                    <li class="main__navigations__div__li on__mobile_d_none" style="font-weight: bold;"><a
                            href="/">Home</a>
                    </li>
                    <li class="main__navigations__div__li on__mobile_d_none">
                        <a class="categ" style="font-weight: bold;">Categories <i class="fas fa-caret-down"></i></a>
                        <div class="div__categories__items">
                            <p><a href="">Men</a></p>
                            <p><a href="">Women</a></p>

                        </div>
                    </li>
                    {{!-- <li class="main__navigations__div__li save__from__left"><a href=""
                            class="anchor__remains__same" style="font-weight: bold;"><i class="fas fa-user"></i> Hello,
                            parimal mahindrakar.</a></li> --}}
                    <li class="main__navigations__div__li">
                        
                        {{#unless Login }}
                        <a href="/login" class="anchor__remains__same"
                            style="padding-bottom: 0;font-weight: bold;">Login <i class="fas fa-sign-out-alt"></i> </a>

                        {{else}}

                        <div class="dropdown-center">
                            <button class="btn btn-black dropdown-toggle"
                                style="color: aliceblue;margin-top: -5px;font-weight: bold; " type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                {{Login}}
                            </button>
                            <ul class="dropdown-menu " style="color: aliceblue;background-color: grey;">
                                <li><a class="dropdown-item" href="/profile">Profile</a></li>
                                <li><a class="dropdown-item" href="/logout">Logout</a></li>

                            </ul>
                        </div>


                        {{/unless}}
                    </li>
                    <div class="bars save__from__right">
                        <div class="line1"></div>
                        <div class="line2"></div>
                        <div class="line3"></div>
                    </div>
                </ul>

            </div>
        </div>

        <div class="mobile__nav__fade__and__show">
            <div class="mobile__nav__fade__and__show__text">
                <li><a href="">Home</a></li>
                <li>
                    <a href="">Categories</a>
                    <div>
                        <p><a href="">Category 1</a></p>

                    </div>
                </li>
            </div>
        </div>
        <div class="mobile__nav__fade__and__show__circle"></div>
    </header>
   


    <div class="container " style="padding-top: 190px;">
        <div class="row d-flex cart align-items-center justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="d-flex justify-content-center border-bottom">
                        <div class="p-3">

                        </div>
                    </div>
                    <div class="row g-0">
                        <div class="col-md-12 border-right p-5">
                            <div class="text-center order-details">
                                <div class="d-flex justify-content-center mb-5 flex-column align-items-center"> <span>
                                        <img src="/images/success.jpg" style="width: 5rem; height: 5rem;"> </span> <span
                                        class="font-weight-bold">Order Confirmed</span> <small class="mt-2">Your
                                        illustraion will go to you soon</small> <a href="#"
                                        class="text-decoration-none invoice-link" style="color: rgb(230, 52, 64);">View Invoice</a> </div>
                                <a href="/orders"> <button class="btn btn-danger btn-block order-button">Go to your
                                        Order</button></a>
                            </div>
                        </div>

                    </div>
                    <div> </div>
                </div>
            </div>
            {{!-- class="check1"> --}}
        {{!-- </div><i class="fa fa-check"></i> --}}
    </div>
</body>

</html>