<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/user/otpcheck.css">
  <title>Document</title>
</head>

<body>



  <nav class="navbar navbar-dark bg-black col-12 pb-3" style="height: 7rem;position:fixed;">
    <div class="container-fluid" style="line-height: 0px;">
      <a class="navbar-brand" href="#" style="padding-left: 70px;">
        <div>
          <div>

            <h2>Perfumio</h2>
          </div>
          {{!-- <div>
            <h6 style="font-size: 10px; padding-left: 15px; margin-top: -8px;position: fixed;" class="tagline">
              Experience the essence of luxury</h6>
          </div> --}}
        </div>


      </a>
    </div>
  </nav>

  <form action="/otpsubmit" method="post">
    <div class="container height-100 d-flex justify-content-center align-items-center opt-box">
      <div class="position-relative">
        <div class="card p-2 text-center">
          {{#unless message}}
          <h6>Please enter the one time password <br> to verify your account</h6>
          {{else}}
          <h6>{{message}}</h6>
          {{/unless}}
          
          <div> <span>A code has been sent to</span> <small>email</small> </div>
          <p id="countdown"></p>
          <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2">
            <input class="m-2 text-center form-control rounded w-50" type="text" name="ottp" id="first" maxlength="6" />


          </div>
          <a href="/resendOtp" id="unhide"><p>Resend OTP</p></a>
          <div class="mt-4"> <button class="btn btn-danger px-4 validate" type="submit">Submit</button> </div>

        </div>
      </div>
    </div>
  </form>
  <script>
  document.getElementById("unhide").style.display = "none";
  var countDownTime = 10000;
    var seconds = 60;
  var x = setInterval(function () {
    seconds--;
    document.getElementById("countdown").innerHTML = "OTP wil expire in " + seconds + "s ";
    if (seconds < 0) {
      clearInterval(x);
      document.getElementById("countdown").innerHTML = ""
      document.getElementById("unhide").style.display = "block";
    }
  }, 1000);
</script>

 
  
</body>

</html>