
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style> 
  section{
    width: 40%;
  }
  @media (max-width: 600px) {
      section{
        width: 100%;
      }
    }</style>
<body>
   <header style="    height: 80px;">
    <div class="bg-dark navbar" style="height: 120px;">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row align-items-center">
          <!-- LOGO -->
          <div class="col-md-2">
            <div class="header-logo ">
              <a href="/" class="logo" style="text-decoration: none;">
                <h1 class="font-weight-bold " style="color: #ffff; max-width:20rem; font-size: 2rem;">Perfumio</h1>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
   <section style=" margin-top: 1rem;
    margin: auto;">
    <div>
    <form action="/saveAddress" method="post" class="product-add container d-flex flex-column">
      <h3 class="text-center">Add Address</h3>
      <input type="text" value="{{_id}}" class="form-control" name="_id" style="height:0px;visibility:hidden;" />
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control" placeholder="Enter your Name" required>
      </div>
      <div class="form-group">
        <label for="mobile">Mobile No</label>
        <input type="number" name="mobile" class="form-control" placeholder="Enter your mobile" required>
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <input type="text" name="city" class="form-control" placeholder="Enter your city" required>
      </div>
      <div class="form-group">
        <label for="landmark">Landmark</label>
        <input type="text" name="landmark" class="form-control" placeholder="Enter your landmark" required>
      </div>
      <div class="form-group">
        <label for="pincode">Pincode</label>
        <input type="number" name="pincode" class="form-control" placeholder="Enter your pincode" required>
      </div>
      <div class="form-group">
        <label for="state">State</label>
        <input type="text" name="state" class="form-control" placeholder="Enter your state" required>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <textarea class="form-control" placeholder="Address" style="height: 90px;" name="address" id="floatingTextarea"
          required></textarea>
      </div>
      <button type="submit" class="btn btn-dark mt-2" style="width: 100px;">Add</button>
    </form>
    </div>
  </section>
</body>
</html>