<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>body{background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(166,178,228,0.3982843137254902) 0%, rgba(197,213,214,1) 100%);}</style>
  <title>Document</title>
</head>
<body>
  <section class="vh-100"
  >
  <div class="container py-5 h-100 ">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="https://perfumesheaven.in/image/cache/catalog/slider/dior-620x500h.jpg.webp" alt="login form"
                class="img-fluid mt-5" style="border-radius: 1rem 1rem 1rem 1rem;height:85%; margin-left: 20px; " />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form action="/signup" method="post" onsubmit="validation()">

                  <div class="d-flex align-items-center mb-3 pb-1">

                    <span class="h1 fw-bold mb-0">Perfumio</span>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Signup</h5>
                  <p class="text-danger" style="font-size: 15px;"> {{fillError}}</p>
                  <div class="form-outline mb-4">
                    <input type="username" name="name" id="username" class="form-control form-control-lg"
                      placeholder="Username" onchange=" validation('username')" required/>
                    <span id="usernameerror" class="text-danger font-weight-bold"></span>
                  </div>
                  <p class="text-danger" style="font-size: 15px;"> {{message}}</p>
                  <div class="form-outline mb-4">
                    <input type="email" name="email" id="email" class="form-control form-control-lg" placeholder="Email"
                     onchange="validation('email')" required/>
                    <span id="emailerror" class="text-danger font-weight-bold"></span>
                  </div>

                  <div class="form-outline mb-4">
                    <input  type="mobilenumber" name="mobile" id="mobile" class="form-control form-control-lg"
                      placeholder="Mobile number " onchange="validation('mobile')" required minlength="10" maxlength="10"/>
                    <span id="mobileerror" class="text-danger font-weight-bold"></span>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" name="password" minlength="8" maxlength="16" id="password" class="form-control form-control-lg"
                      placeholder="Password" onchange="validation('password')" required/>
                    <span id="passworderror" class="text-danger font-weight-bold"></span>
                  </div>

                  {{!-- <div class="form-outline mb-4">
                    <input type="password" name="confirmPassword" id="confirmPassword"
                      class="form-control form-control-lg" placeholder="Confirm Password" onchange="validation('confirmpassword')" required/>
                    <span id="confirmpassworderror" class="text-danger font-weight-bold"></span>
                  </div> --}}

                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="submit"  onsubmit="validation()">Register</button>
                  </div>


                  <p class="mb-5 pb-lg-2" style="color: #393f81;">Already Registered? <a href="/login"
                      style="color: #393f81;">Login here</a></p>

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  function validation(changed) {
   
  let username = document.getElementById('username');
  let email = document.getElementById('email');
  let mobile = document.getElementById('mobile');
  let password = document.getElementById('password');
  {{!-- let confirmPassword = document.getElementById('confirmPassword'); --}}


  let usercheck = /^[A-Za-z\.\-]{3,30}$/;
  let emailcheck = /^[A-Za-z0-9_\-\.]+@[A-Za-z]{3,}\.[A-Za-z]{2,6}$/;
  let mobilecheck = /^[6789][0-9]{9}$/;
  let passwordcheck = /^[a-zA-Z0-9!@#$%^&*]{8,16}$/;
  if(changed=='username'){

  if (usercheck.test(username.value)) {
   document.getElementById('usernameerror').innerHTML = " ";

  } else {
    document.getElementById('usernameerror').innerHTML = "--Username is invalid--";
    return false;
  }
  }

if(changed=='email'){

  if (emailcheck.test(email.value)) {
    document.getElementById('emailerror').innerHTML = " ";

  } else {
    document.getElementById('emailerror').innerHTML = "--Email is invalid--";
    return false;
  }
}

if(changed=='mobile'){

  if (mobilecheck.test(mobile.value)) {
    document.getElementById('mobileerror').innerHTML = " ";

  } else {
    document.getElementById('mobileerror').innerHTML = "--Mobile Number is invalid--";
    return false;
  }
}

if(changed=='password'){

  if (passwordcheck.test(password.value)) {
    document.getElementById('passworderror').innerHTML = " ";

  } else {
    document.getElementById('passworderror').innerHTML = "--Password should be 8-16 characters long, contain at least one number and one special character--";
    return false;
  }
}
{{!-- if(changed=='confirmpassword'){

  if (password.value === confirmPassword.value) {
    document.getElementById('confirmpassworderror').innerHTML = " ";

  } else {
    document.getElementById('confirmpassworderror').innerHTML = "--Passwords do not match--";
    return false;
  }
}

  return true; --}}
}


    
    
  
</script>
</body>
</html>